@font-face {
    font-family: "Cardinal";
    src: url("../../../systems/mdi/style/fonts/Cardinal.ttf");
}

@font-face {
    font-family: "Leander";
    src: url("../../../systems/mdi/style/fonts/Leander.ttf");
}

@font-face {
    font-family: "Seaweed";
    src: url("../../../systems/mdi/style/fonts/Seaweed.ttf");
}

@font-face {
    font-family: "Flying";
    src: url("../../../systems/mdi/style/fonts/flyingleatherv2straight.ttf");
}

.charsheet {
    display: flex;
  }

.left-section {
    width: 35%;
    max-height: 100%;
    text-align: center;
    background-color: none;
    padding-right: 20px;
}

.left-section h2, h1{
    border-bottom: none;
}

.middle-section {
    width: 25%;
    height: 100%;
}

.middle-section h2, h1{
    border-bottom: none;
}

.right-section {
    width: 40%;
    height: 100%;
    padding-left: 20px;
}

.right-section h2, h1{
    border-bottom: none;
}

.char-pic img{
    background-color: white;
    width: 200px;
    height: 250px;
    border-width: 3px;
}

.char-name input{
    font-family: var(--input-font);
    background-color: none;
    background: none;
    color: var(--input-text-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.habilidad table {
    background: none;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.habilidad label {
    font-family: var(--header-font);
    color: var(--header-text-color);
    text-align: left;
}

.habilidad input {
    font-family: var(--input-font);
    background-color: none;
    background: none;
    color: var(--input-text-color);
    border: none;
}

.pericia table{
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

.pericia label{
    font-family: var(--header-font);
    color: var(--header-text-color);
    text-align: left;
}

.recursos table {
    background: none;
    width: 100%;
    border: none;
}

.recursos label {
    font-family: var(--header-font);
    color: var(--header-text-color);
    text-align: left;
}

.recursos input {
    font-family: var(--input-font);
    background-color: none;
    background: none;
    color: var(--input-text-color);
    border: none;
}

.item h2, h1{
    border-bottom: none;
}

.item table {
    background: none;
    width: 100%;
    border: none;
}

.item label {
    font-family: var(--header-font);
    color: var(--header-text-color);
    text-align: left;
}

.item input {
    font-family: var(--input-font);
    background-color: none;
    background: none;
    color: var(--input-text-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.item select {
    font-family: var(--input-font);
    background-color: none;
    background: none;
    color: var(--input-text-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.items table {
    background: none;
    width: 100%;
    border: none;
    font-family: var(--input-font);
    color: var(--input-text-color);
}

.talentnotes {
    height: 262px;
}

.armanotes {
    height: 167px;
}

.notas {
    height: 633px;
}

:root { 
    --bg-image: url("../../../systems/mdi/style/images/white.webp");
    --chat-bg-image: url("../../../systems/mdi/style/images/white.webp");
    --header-font: "Leander";
    --input-font: "Seaweed";
    --pause-font: "Flying";
    --header-text-color: black;
    --input-text-color: darkred;
}

.mdi .window-content{
    background-color: white;
    background: var(--bg-image) no-repeat;
    background-size: 100% 100%;
}

.window-app .window-content{
    background-color: white;
    background: var(--bg-image) no-repeat;
    background-size: 100% 100%;    
}

.chat-message {
    background-color: white;
    background: var(--bg-image) no-repeat;
    background-size: 100% 100%;
}

#pause .pause-image {
    background: url("images/logo.webp");
    background-size: 128px;
    width: 128px;
    height: 128px;
    padding-left: 128px;
}

#pause .pause-mdi {
    font-family: var(--pause-font);
    margin: 0 auto;
    text-align: center;
    transform: scale3d(1, 1, 1);
    text-transform: uppercase;
    font-weight: 900;
    color: #f4eded;
}

.editor {
    height: 100%;
}

.editor-content
{
    list-style: circle;
    text-align: left;
    padding: 5px;
    font-family: var(--input-font);
    color: var(--input-text-color);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    font-size: x-large;
}

.sheet nav.sheet-tabs {
    font-family: var(--header-font);
    margin: 4px 0;
    border-top: none;
    border-bottom: none;
}

.sheet .tabs .item.active {
    background: black;
    color: white;
    font-family: var(--header-font);
    font-weight: 900;
    text-shadow: none;
}

.sheet .tabs .item:hover {
    background: darkred;
    color: black;
    text-shadow: none;
}


.dialogo table {
    background: none;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
    text-align: center;
}

.dialogo label {
    font-family: var(--header-font);
    color: var(--header-text-color);
    text-align: left;
}

.dialogo input {
    font-family: var(--input-font);
    background-color: none;
    background: none;
    color: var(--input-text-color);
    text-align: center;
    border: none;
    font-size: x-large;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--input-text-color);
}

.dialogo h2, h1{
    border-bottom: none;
}

.chat-header {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.chat-header table {
    margin: 0;
    background: none;
    background-color:  white;
    width: 100%;
    text-align: center;
    font-family: Leander;
    color: black;
    font-weight: 900;
    border: solid;
    border-width: 3px;
    border-color: black;
}

.chat-header tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.chat-header tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.chat-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: black;
}

.chat-header td:nth-child(1){
    text-align: left;
    width: 40px
}

.chat-content {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.chat-content hr{
    border: 2px solid black;
}

.chat-content table {
    margin: 0;
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    font-family: Leander;
    color: black;
    font-weight: 900;
}

.chat-content h1 {
    border-bottom: none;
}

.chat-content tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.chat-content tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.failure {
    border: solid;
    border-width: 3px;
    border-color: darkred;
    color: darkred;
}

.success {border: solid;
    border-width: 3px;
    border-color: darkgreen;
    color: darkgreen;
}

.tooltip {
    position: relative;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: darkred;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}