<div  class="chat-header">
    <table>
        <tr>
            <td>
                <img src={{{pjImage}}}>
            </td>
            <td>
                {{{pjName}}}
            </td>
            <td style="width: 48px;">

            </td>
        </tr>
    </table>
</div>
<div  class="chat-content">
    <table>
        <tr>
            <td>
                {{{rollTitle}}}
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h1>{{{totalRoll}}}</h1>
                    <span>
                        <label>[{{{dicelist}}}]{{{dicelistbonus}}}</label>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            {{{rollResult}}}
        </tr>
    </table>   
</div>
