<div  class="chat-header">
    <table>
        <tr>
            <td>
                <img src={{{pjImage}}}>
            </td>
            <td>
                {{{pjName}}}&nbsp;VS
            </td>
            <td style="width: 48px;">
                <img src={{{targetImage}}}>
            </td>
        </tr>
    </table>
</div>
<div  class="chat-content">
    <table>
        <tr>
            <td>
                {{{rollTitle}}}
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h1>{{{totalRoll}}}</h1>
                    <span>
                        <label>[{{{dicelist}}}]{{{dicelistbonus}}}</label>
                    </span>
                </div>
            </td>
        </tr>
        {{#if (eq showbad true)}}
        <tr>
            <td>
                <span style="color: darkred; text-decoration: line-through;">
                    <label>[{{{baddicelist}}}]</label>
                </span>
            </td>
        </tr>
        {{/if}}
        <tr>
            {{{rollResult}}}
        </tr>
        <tr>
            {{{resultList}}}
        </tr>
    </table>   
</div>
