<form class="{{cssClass}} cdbe" autocomplete="off">
    <div class="item">     
        <h1><input style="text-align: center;" name="name" type="text" value="{{item.name}}" placeholder='Quirk' onClick="this.select();"/></h1>
        <nav class="sheet-tabs tabs" data-group="primary">
            <td><a class="item" data-tab="descripcion">Descripción</a></td>
            <td><a class="item" data-tab="efectos">Efectos</a></td>
        </nav>
    </div>
    {{!-- Item Sheet Body --}}
        <section class="sheet-body">
          {{!-- Descripcion Tab --}}
          <div class="tab descripcion desc talentnotes" data-group="primary" data-tab="descripcion">
            {{editor item.system.notas target="system.notas" button=true owner=owner editable=true}}
          </div>
          {{!-- Efectos Tab --}}
          <div class="tab efectos desc talentnotes" data-group="primary" data-tab="efectos">

          </div>
        </section>
</form>